body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('../assets/meteor-space.gif');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    align-items: center;
    color: gainsboro;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: darkslategray;
    width: 300px;
    height: 60px;
    text-align: center;
    align-content: center;
      
}

h2 {
    color: gainsboro;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: darkslategray;
}

.outer-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
    margin: auto;
    justify-content: flex-end;

}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 75vh;
    border: 2px solid gray;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    background-image: url('../assets/space.jpeg');
}


.sqr {
    
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
    }


    .player {
     
      background-image: url("../assets/spaceship/Fighter/Idle.png");
      background-repeat: no-repeat;
      background-size: 225%;
      background-position: center;
      transform: rotate(270deg);

    }

    .projectile {
       
        background-image: url(../assets/magic_projectile.gif);
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(97deg);
    }


    .invader {
   
        background-image: url('../assets/invader-moving2.gif');
        background-repeat: no-repeat;
        background-size: contain;

    }

    h3 {
      
        color: gainsboro;
        border: 2px solid gray;
        border-radius: 5px;
        text-align: center;
        padding: 5px;
        width: 150px;
        background-color: darkslategray;
        font-family: "Anton", sans-serif;
        font-weight: 200;
        font-style: normal;

    }

    #side-panel {
        display: flex;
        flex-direction: column-reverse;
        width: 300px;
        height: 600px;
        justify-content: space-evenly;
        align-items: center;
        margin-left: 175px;
        margin-right: 5px;

    }

.how-to {
    color: gainsboro;
    border:  2px solid gray;
    border-radius: 5px;
    background-color: darkslategray;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
    height: 300px;
    padding: 10px;
}

.how-to span {
    margin-bottom: 30px;
    text-align: center;
}

#reset {
    color: gainsboro;
    border: 2px solid gray;
    margin: 25px;
    width: 100px;
    padding: 10px;
    background-color: darkslategray;
    border-radius: 50px;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
}